*
{
    box-sizing: border-box;
    margin: 0px;
}
body
{
    background-color: white;

}
section
{
    background-color: blanchedalmond;
    width: 600px;
    height: 500px;
    margin: 70px auto;
    padding:50px;
    position: relative;
}
div
{
    width:400px ;
    height:400px ;
    background-color: blueviolet;
    margin: auto;
    
    padding: 80px;
}
p
{
    width: 200px;
    height: 200px;
    background-color: brown;
    position: absolute;
    top:0px;

}